h1 {
    background-color: rgb(18, 224, 156);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h2{
    background-color: rgb(101, 101, 187);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-color: rgb(43, 202, 202);
}

li {
    background-color: rgb(18, 224, 156);
    color: black;
    text-align: center;
}

img {
    border-image: auto;
}